# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
**/node_modules/**
/src/frontend/js/settings.js
/src/resources/photos/**
/src/config.js
/npm-debug.log
