# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
/src/frontend/js/settings.js
/src/frontend/php/dbConfig.php
/src/node_modules/**
/src/resources/photos/**
/src/config.js
