<form class="form-horizontal" id="gbform">
    <fieldset>
        <legend>Einen Gästebucheintrag hinzufügen</legend>
        <div class="form-group">
            <div class="col-lg-12">
                <input ng-model="inputName" required type="text" class="form-control input-lg" id="inputName" placeholder="Max Mustermann">
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-12">
                <textarea ng-model="inputMessage" required class="form-control" rows="3" id="summernote"></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-12">
                <a ng-click="sendGBentry()" class="btn btn-default btn-lg btn-block  btn-raised">
                    <i class="mdi-content-send"></i>
                    Absenden
                </a>
            </div>
        </div>
    </fieldset>
</form>





<div ng-repeat="entry in gbentries |limitTo:gblimit" class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">{{entry.name}}</h3>
    </div>
    <div class="panel-body">
        <div ng-bind-html="entry.text"></div>
    </div>
</div>
<a ng-click="moreEntries()" class="btn btn-default btn-fab btn-raised mdi-navigation-expand-more"></a>
