<div ng-controller="infoSidebarCtrl">
    <div id="ownVideoContainer" class="panel panel-primary hidden">
        <div class="panel-heading">
            <button type="button" class="close" data-dismiss="ownVideoContainer">×</button>
            <h3 class="panel-title">Mein Bild</h3>
        </div>
        <div class="embed-responsive embed-responsive-4by3">
            <video id="localVideo" class="embed-responsive-item" ></video>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">{{cityname}}, aktuell: {{currentTemp}}&deg;C</h3>
        </div>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th>Heute</th>
                    <th>Morgen</th>
                    <th>Übermorgen</th>
                </tr>
            </thead>
            <tbody class="text-center">
                <tr>
                    <td class="text-left">Temperaturen</td>
                    <td ng-repeat="temp in weatherData.temperatures.average track by $index">{{temp | number:1}}&deg;C</td>
                </tr>

                <tr class="text-info">
                    <td class="text-right">Min.</td>
                    <td ng-repeat="temp in weatherData.temperatures.min track by $index">{{temp | number:1}}&deg;C</td>
                </tr>
                <tr class="text-danger">
                    <td class="text-right">Max.</td>
                    <td ng-repeat="temp in weatherData.temperatures.max track by $index">{{temp | number:1}}&deg;C</td>
                </tr>
                <tr>
                    <td class="text-left">Bewölkung</td>
                    <td ng-repeat="icon in weatherData.icons track by $index">
                        <img src="http://openweathermap.org/img/w/{{icon}}.png" />
                    </td>
                </tr>
                <tr>
                    <td class="text-left">Windgeschwindigkeit</td>
                    <td ng-repeat="speed in weatherData.wind.speed track by $index">{{speed | number:1}} km/h<br><i class="mdi-content-forward"></i></td>
                </tr>
                <tr>
                    <td class="text-left">Luftdruck</td>
                    <td ng-repeat="pres in weatherData.pressure track by $index">{{pres | number:0}} hPa</td>
                </tr>
                <tr>
                    <td class="text-left">Luftfeuchtigkeit</td>
                    <td ng-repeat="hum in weatherData.humidity track by $index">{{hum | number:1}} %</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

