<h1>Einstellungen</h1>

<form>
    <fieldset>
        <!-- Abfahrtsmonitor -->
        <legend>Abfahrtsmonitor</legend>
        <div class="form-group">
            <label for="selectMaxStations">Anzahl der Verbindungen: <span id="selectMaxStationsLabel">{{currentStationValue | number:0}}</span></label>
            <div class="sliders" id="selectMaxStationsSlider"></div>
        </div>
        <div class="form-group">
            <label for="hfasIDsInput">Hafas IDs:</label>
            <div class="input-group">
                <input ng-model="newStationID" ng-minlength="5" ng-maxlength="5" type="text" class="form-control input-lg" id="hfasIDsInput" placholder="12345">
                <span class="input-group-addon">
                    <a ng-click="storeNewHafasID(newStationID)" class="btn btn-primary btn-fab btn-raised mdi-content-save"></a>
                </span>
            </div>
            <p>Aktuelle Stationen (IDs):</p>
                <div ng-repeat="id in hafasids" class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
                    <div class="alert alert-dismissable alert-info">
                        <a ng-click="deleteStation(id)" type="button" class="close">×</a>{{id}}
                    </div>
                </div>
        </div>

        <!-- Gästebuch -->
        <legend>Gästebuch</legend>
        <div class="form-group">
            <label for="selectMaxGBEntries">Anzahl der Gästebucheinträge: <span id="selectMaxGBLabel">{{currentGBvalue | number:0}}</span></label>
            <div class="sliders" id="selectMaxGBEntries"></div>
        </div>
    </fieldset>
</form>
