<h1>Wilkommen in der WG 2.0 </h1>
<p>
    Jetzt endlich mit AngularJS!
</p>
    <div class="list-group">
    <div class="list-group-item">
        <div class="row-action-primary">
            <i class="mdi-device-wifi-lock"></i>
        </div>
        <div class="row-content">
            <div class="action-secondary"><i class="mdi-material-info"></i></div>
            <h4 class="list-group-item-heading">WLAN Zugang für Gäste</h4>
            <p class="list-group-item-text">Netzwerkname (SSID): {{wlanSSID}}Kennwort: {{wlanKey}}</p>
        </div>
    </div>

    <div class="list-group-separator"></div>

    <div class="list-group-item">
        <div class="row-action-primary">
            <i class="mdi-action-settings icon"></i>
        </div>
        <div class="row-content">
            <div class="action-secondary"><i class="mdi-material-info"></i></div>
            <h4 class="list-group-item-heading">Einstellungen</h4>
            <p class="list-group-item-text">WG-Screen Konfigurieren</p>
        </div>
    </div>
</div>
