<div class="modal-header">
  <!--
  <h3 class="modal-title">slide</h3>
  -->
</div>

<div class="modal-body">
  <carousel interval="myInterval">
    <slide active="slide.active" ng-repeat="slide in slides">
      <img ng-src="{{slide.src}}" style="margin:auto;">
        <!--
          <div class="carousel-caption">
            <h4>Slide {{$index}}</h4>
            <p>{{slide.name}}</p>
          </div>
          -->
    </slide>
  </carousel>
</div>
<!--
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="ok()">OK</button>
  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
-->
