<div class="list-group">
<div class="list-group-item">
  <div class="row-action-primary">
    <input accept="image/*" capture="camera" class="hidden" id="StartOpenCamera" type="file"/>
    <a class="btn btn-primary btn-fab btn-raised mdi-image-camera-alt" id="#choosePicture" onclick="$('#StartOpenCamera').click();"></a>
  </div>
  <div class="row-content">
    <div class="row">
      <div class="col-md-12">
        <div class="action-secondary">
          <i class="mdi-material-info"></i>
        </div>
        <h4 class="list-group-item-heading">Ein Bild machen</h4>
        <p class="list-group-item-text">Jetzt ein Foto schießen</p>
      </div>
    </div>
  </div>
</div>
<div class="list-group-separator"></div>
</div>

<span class="help-block"></span>
<ul class="nav nav-pills" ng-if="albums">
  <li class="active" ng-repeat="album in albums track by $index">
    <a ng-click="getImages(album.name)">{{album.name}}
<!-- <span class="badge">{{42}}</span> -->
    </a>
  </li>
</ul>
<span class="help-block"></span>
<div class="row">
  <div class="col-xs-6 col-md-3" ng-repeat="photo in photos track by $index" style="height:210px;">
    <a class="thumbnail" ng-click="openImageModal()">
      <img alt="" class="embed-responsive-item" data-src="{{rootPath+'/'+photo.path}}" src="">
<!--{{photo.name}}-->
    </a>
  </div>
</div>
