<audio id="ringingSound">
  <source src="audio/ringing.mp3" type="audio/mp3">
</audio>

<div class="alert alert-dismissable alert-success hidden" id="callFeedbackAlert">
    <button type="button" class="close" data-dismiss="alert">×</button>
    Die Videofunktion wurde gestartet - <strong>http://call.doerki.com</strong> aufrufen um zu mit mir zu telefonieren.
</div>

<a ng-click="changeWebRTCState()" id="toggleWebRTCStateBtn" class="btn btn-default btn-fab btn-raised mdi-av-videocam-off pull-right"></a>
<h1>Wilkommen in der WG 2.0 </h1>
<p>
    Jetzt endlich mit AngularJS!
</p>
    <div class="list-group">
    <div class="list-group-item">
        <div class="row-action-primary">
            <i class="mdi-device-wifi-lock"></i>
        </div>
        <div class="row-content">
            <div class="action-secondary"><i class="mdi-material-info"></i></div>
            <h4 class="list-group-item-heading">WLAN Zugang für Gäste</h4>
            <p class="list-group-item-text">Netzwerkname (SSID): {{wlanSSID}}Kennwort: {{wlanKey}}</p>
        </div>
    </div>

    <div class="list-group-separator"></div>

    <div class="list-group-item">
        <div class="row-action-primary">
            <i ng-href="#/settings" class="mdi-action-settings icon"></i>
        </div>
        <div class="row-content">
            <div class="row">
                <div class="col-md-8">
                    <div class="action-secondary"><i class="mdi-material-info"></i></div>
                    <h4 class="list-group-item-heading">Einstellungen</h4>
                    <p class="list-group-item-text">WG-Screen Konfigurieren</p>
                </div>
                <div class="col-md-4">
                    <a ng-href="#/settings" class="btn btn-primary btn-raised pull-right">Zu den Einstellungen <i class="mdi-navigation-arrow-forward"></i></a>
                </div>
            </div>
        </div>
    </div>

    <div class="list-group-separator"></div>

    <div class="list-group-item">
        <div class="row-action-primary">
            <i ng-href="#/shopping" class="mdi-action-add-shopping-cart"></i>
        </div>
        <div class="row-content">
            <div class="row">
                <div class="col-md-8">
                    <div class="action-secondary"><i class="mdi-material-info"></i></div>
                    <h4 class="list-group-item-heading">Einkaufsliste</h4>
                    <p class="list-group-item-text">Hier kannst du neue Einträge hinzufügen</p>
                </div>
                <div class="col-md-4">
                    <a ng-href="#/shopping" class="btn btn-primary btn-raised pull-right">Zur Einkaufliste <i class="mdi-navigation-arrow-forward"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
