<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Mierendorffplatz</h3>
                </div>
                <div class="panel-body"></div>
                <div ng-repeat="connection in station" class="list-group">
                    <div class="list-group-item">
                        <div class="row-action-primary">
                            <i style="background-color: #{{connection.color}} !important;">{{connection.line}}</i>
                        </div>
                        <div class="row-content">
                            <div class="least-content">
                                <h4>
                                    <span class="text-danger" ng-if="timeDiff(connection.when, connection.realtime) != 0"> + {{ timeDiff(connection.when, connection.realtime) | date : 'shortTime'}} min.</span>
                                </h4>
                            </div>
                            <h4 class="list-group-item-heading">{{connection.direction}}</h4>
                            <h5 class="list-group-item-text"><span class="text-primary">{{connection.when | date : 'shortTime'}}</span></h5>
                        </div>
                    </div>
                    <div class="list-group-separator"></div>
                </div>
                <a ng-click="moreEntries()" class="btn btn-default btn-fab btn-raised mdi-navigation-expand-more"></a>
            </div>
        </div>
    </div>
</div>
