<div class="container-fluid">
    <div class="row">
        <div ng-repeat="station in stations" class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">{{station.stationName}}</h3>
                </div>
                <div class="panel-body"></div>
                <div ng-repeat="connection in station.journeys track by $index|limitTo:stationlimit" class="list-group">
                    <div class="list-group-item">
                        <div class="row-action-primary">
                            <i style="background-color: #{{connection.color}} !important;">{{connection.shortLabel}}</i>
                        </div>
                        <div class="row-content">
                            <div class="least-content">
                                <h4>
                                    <span class="text-danger" ng-hide="connection.timeDiff == '+0'|| !connection.timeDiff">{{connection.timeDiff}} min.</span>
                                </h4>
                            </div>
                            <h4 class="list-group-item-heading">{{connection.label}}</h4>
                            <h5 class="list-group-item-text"><span class="text-primary">{{connection.time}}</span></h5>
                        </div>
                    </div>
                    <div class="list-group-separator"></div>
                </div>
                <a ng-click="moreEntries()" class="btn btn-default btn-fab btn-raised mdi-navigation-expand-more"></a>
            </div>
        </div>
    </div>
</div>
