
<!--Style for Atom Feed parser-->

#feedWrapper h4.media-heading a {
    text-decoration: none !important;
}

#feedWrapper img {
	max-width: 250px !important;
}

#feedWrapper a[href *= "http://feeds.feedburner.com/~ff"]{
    visibility: hidden;
}
<!--End: Style for Atom Feed parser-->

<!-- summernote style -->
.note-editor {
    border: none !important;
}

.note-editor .note-toolbar {
    background-color: inherit;
    border-bottom: none !important;
}


<!-- ./summernote style -->
