body{
    padding-top: 70px;
}


[class^=mdi-], [class*=mdi-] {
  font: normal normal normal 14px/1 'Material-Design-Icons';
}
/* Style for Atom Feed parser */

#feedWrapper h4.media-heading a {
    text-decoration: none !important;
}

#feedWrapper img {
	max-width: 250px !important;
}

#feedWrapper a[href *= "http://feeds.feedburner.com/~ff"]{
    visibility: hidden;
}
/* End: Style for Atom Feed parser */

/* summernote style */
.note-editor {
    border: none !important;
}

.note-editor .note-toolbar {
    background-color: inherit;
    border-bottom: none !important;
}

.noUi-connect#red{
    background: rgb(242,66,8);
}
.noUi-connect#green{
    background: rgb(95,169,26);
}
.noUi-connect#blue{
    background: rgb(44,72,228);
}

/* ./summernote style */
